server:
  port: 8086

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/techstore?useSSL=false&serverTimezone=Asia/Ho_Chi_Minh&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: mihon1301
    hikari:
      initialization-fail-timeout: 0

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

jwt:
  signerKey: "XEF4o60QlnUab50D+miVqF9NwhLPTiHXBA5VDO9tMDTiiPuUB/oJpgpAC36ozg6A"
  valid-duration: 3600 # in seconds
  refreshable-duration: 604800 # in seconds
